.mainContainer {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly safe;
  align-items: stretch;
  align-content: space-around safe;
  min-height: 100vh;
}

.headerContainer {
  flex: auto;
  /* box-shadow: 10px rgba(29, 86, 110, 0.27); */
  /* border-bottom: 1px solid black; */
}

.error {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50vh;
}

@media only screen and (max-width: 1300px) {
  .mainContainer {
      overflow: hidden;
      height: auto;
  }
}