.headerItem {
    flex: auto;
    /* display: inline-flex; */
    height: auto;
    background-image: url('/public/images/lake.jpg');
    background-position: center;
}

.headerLogo {
    height: 30px;
    width: auto;
    position: absolute;
    top: 30px;
}

.header {
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    padding: 3vh;
}

@media only screen and (max-width: 1300px) {
    .headerItem {
        display: flex;
    }
    .header {
        font-size: 1.5em;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 375px) {
    .headerItem {
        text-align: center;
    }
    .header {
        font-size: 1.3em;
        padding-left: 0;
        padding-right: 0;
    }
}